<h1>Influencers</h1>

<% @influencers.each do |influencer| %>
<p><%= influencer.influencer_full_name %></p>
<% end %>

<h1>Starred Influencers</h1>

<% @starred_influencers.each do |starred_influencer| %>
<p><%= starred_influencer.influencer.influencer_full_name %></p>
<% end %>


