// Specific CSS for your home-page
body {
  background-color: white;
}

h3 {
 font-size: 21px;
 font-weight: bold;
}

.container-all{
  margin-top: 30px;
}

.flex-container {
  display:flex;
  justify-content: space-around;
  margin-left: 50px;
}

.left-container {
flex: 0 1 400px;
border-right: 1px dotted;
padding-left: 25px;
}

.right-container {
  flex: 1 0 auto;
  padding-left: 25px;
}

.influencer-container {
  display:flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.avatar-user {
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;

}

.name-influencer {
  padding-right: 5px;
  flex-grow: 2;
}

.starred-container {
  flex: 1 0 800px;
  flex-grow: 3;
  background-color: rgb(249, 249, 249);
  max-width: 800px;
  // max-height: 80px;
  // padding-bottom: 30px;
  // padding-left: 5px;
  // padding-top: 1px;
  line-height: 0.4;
  border-radius: 5px;
  display:flex;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 20px;
  border: 0.5px solid rgba(179, 179, 179, 0.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.buttons {
  text-decoration: none;
  color: rgb(220, 220, 220);
  font-size: 30px
}

.followers {
 flex-grow: 0.3;

}

.engagement {
 flex-grow: 0.3;
}

.name-starred {
  flex-grow: 3;
  padding-left: 45px;
}

.add {
 margin-right: 30px;
}

.large-starred {
  display:flex;
  justify-content: space-between;
  max-width: 850px;

}

.small-end-starred {
  flex-grow: 0.5;
  margin-top: 55px;
}
