/* Main navbar */
.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;

}

.navbar-right {
  margin-top: 25px
}

/* User Avatar */
.navbar .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: #616668;
  font-size: 14px;
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

.fas {
  margin-top: 20px;
  text-decoration: none;
  font-size: 30px
}
